@tailwind base;
@tailwind components;
@tailwind utilities;

.project-card:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}
